<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
<p>nothing is done yet. hurry up.</p>
<br>
<div>
    <a href="http://127.0.0.1:8000/login" target="_blank">login</a> <br>
    <a href="http://127.0.0.1:8000/register" target="_blank">Sign up</a> <br>
    <a href="http://127.0.0.1:8000/base" target="_blank">base page</a> <br>
    <a href="http://127.0.0.1:8000/admin" target="_blank">admin</a> <br>
    <a href="http://127.0.0.1:8000/product" target="_blank">Product Name</a> <br>
    <a href="http://127.0.0.1:8000/about" target="_blank">about</a> <br>
    <a href="http://127.0.0.1:8000/home" target="_blank">homepage</a> <br>
</div>
</body>
</html>