{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        sign up
    {% endblock %}
    {% block content %}
    <script>
    document.getElementById('top_nav_home').innerHTML = '<a href="http://127.0.0.1:8000/">Home</a>';
    document.getElementById('top_nav_home').style="padding-left:25%; padding-right:25%";
    document.getElementById('top_nav_news').innerHTML = '';
    document.getElementById('top_nav_contact').innerHTML = '<a href="http://127.0.0.1:8000/login">log in</a>';
    document.getElementById('top_nav_contact').style="padding-right:50px;";
    document.getElementById('top_nav_about').innerHTML = '<a href="http://127.0.0.1:8000/register">Sign up</a>';
    </script>
        <div style="padding-left:25%; padding-right:25%">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <form method = "POST">
                {% csrf_token %}
                <fieldset class="form group">
                    {{ form|crispy }}
                </fieldset>
                <button class="submit form-group btn btn-outline-info">
                    sign up
                </button>
            </form>
        </div>
    {% endblock %}