<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/signup.css' %}">
</head>

<body>
    <div class="wrapper">
      <div class="title">SignUp Form</div>
      <form action="{% url 'manual-signup' %}" method='POST'>
          {% csrf_token %}

           {% if error %}
               <h6 style="color:red;">{{error}}</h6>
           {% endif %}

            <div class="field">
              <input class="myInput" name="first_name" type="text" placeholder="First Name" id="firstname" required>
              <label>First Name</label>
            </div>
            <div class="field">
              <input class="myInput" name="last_name" type="text" placeholder="Last Name" id="lastname" required>
              <label>Last Name</label>
            </div>
            <div class="field">
              <input class="myInput" value="{{info.user_name}}" name="user_name" type="text" placeholder="User Name" id="username" required>
              <label>User Name</label>
            </div>
            <div class="field">
              <input class="myInput" value="{{info.email}}" name="email" type="text" placeholder="Email" id="email" required>
              <label>Email Address</label>
            </div>
            <div class="field">
              <input type="password" name="password" placeholder="Password" id="password" required>
              <label>Password</label>
            </div>
              <div class="field">
              <input type="password"  name="re_password" placeholder="Re-Password" id="re_password" required>
              <label>Re-Password</label>
            </div>
            <div class="field">
              <input class="myInput" name="age" type="text" placeholder="Age" id="age" required>
              <label>Age</label>
            </div>
            <div class="field">
              <input class="myInput" name="phone" type="text" placeholder="phone" id="phone" required>
              <label>phone</label>
            </div>
            <div class="field">
              <input class="myInput" name="address" type="text" placeholder="address" id="address" required>
              <label>address</label>
            </div>
            <div class="form-group">
      <p>Sign up as?</p>
      <select id="dropdown" name="type" class="form-control" required>
        <option disabled selected value>Select account type</option>
        <option name="type" value="customer">Customer</option>
        <option name="type" value="merchant">Merchant</option>
      </select>
    </div>
        <div class="field">
          <input type="submit" value="Sign Up">
        </div>
        <div class="signup-link">Already a member? <a href="{% url 'login' %}">Log In</a></div>
      </form>
    </div>
</body>
</html>